/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas*/


:root{
    /*Inserta la variable de los otros colores inspeccionando el exemplo de figma */

    --color-de-fondo: #add6b4;
    --color-de-link: #000;
    --color-de-titulos: rgba(0, 0, 0, 0.747);
    --color-fondo-verde: #0af37e;
    --color-cajas: #e91010 ;
    --verde-botones: rgba(20, 172, 20, 0.267) ;
}

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-de-link);
}

/*Sección Menu*/

section.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height:10vh;
    margin: 0px 153px;
}

/*Cabecera y espacios*/
header.menu__header{
    display:flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-de-titulos)   
}


/*Items del menu*/
section.menu nav ul.menu__list{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 625px;
}

/*Estilo para navegacion email*/
section.menu nav ul.menu__list li:nth-child(6){
    color: black;
    font-weight: 800;
}

/*Seccion de titulo*/

section.title{
    margin: 0 153px;
    width: 80%;
    color: var(--color-de-titulos)
}

section.title div.title__div{
    justify-content: space-around;
    align-content: flex-start;
    display: flex;
    flex-direction: row-reverse;

}

/*Titulo principal*/
section.title div.title__container h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
}

/*Imagen de perfil*/
section.title img.title__profile{
    width: 368px;
}

section.title div.title__div div.title__container h3{
 font-size: 17px;
 line-height: 23px;
 width: 600px;
 margin-bottom: 30px;
}

section.title div.title__div div.title__container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 500px;
    font-size: 16px;
    font-style: normail;
    font-weight: 400;
    line-height: 16px;
}

/*Seccion sobre*/
section.about{
    padding:  62px 153px;
    margin-top: 8px;
    background-color: var(--color-fondo-verde)
}

section.about div.about__container{
    width: 700px;
}

section.about h3.about__title{
    font-size: 32px;
}

section.about div.about__container p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

/*Seccion skills*/
section.skills{
    margin: 64px 100px;
}

/*Titulo de skills*/
section.skills h3.skills__title{
    font-weight: 32px;
    text-align: center;
}

/*Alineacion de iconos*/
section.skills div.skills__line{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/*Caja skills*/
section.skills div.skills__box{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 22px 15px 22px 0px;
    width: 150px;
    height: 160px;
}

section.skills div.skills__box ul{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-de-titulos)
}
/*Sección Hobbies*/
section.hobbies{
    
}

/* Experiencia Académica*/
section.academic{

}

/* experiencia*/
section.experience{

}

/*Contacto*/
section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}